<input type="text" id="login-account" placeholder="account">
<input type="text" id="login-pwd" placeholder="password">
<button class="login">
login
</button>

<input type="text" id="register-account"  placeholder="account">
<input type="text" id="register-pwd" placeholder="password">
<button class="register">
register
</button>

<script type="module" src="js/login.js"></script>
