    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registeration</span>
                <input type="text" placeholder="Name" class="register-name">
                <input type="text" placeholder="Account" class="register-account">
                <input type="password" placeholder="Password" class="register-pwd">
                <input type="password" placeholder="Confirm password">
                <div class="avatar">
                    <input type="img" placeholder="Link avatar" class="register-img">
                    <button>Up load</button>
                </div>
                <p>Use your account?<a id="signin" style="color: blue; cursor: pointer;">Sign in</a></p>
                <button class="register">Register</button>
            </form>
        </div>

        <div class="form-container sign-in">
            <form>
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email password</span>
                <input type="text" placeholder="Account" class="login-account">
                <input type="password" placeholder="Password" class="login-pwd">
                <p>Not a member ? <a id="register" style="color: blue; cursor: pointer;">Sign up</a></p>
                <button class="login">Sign In</button>
            </form>
        </div>
        
    </div>